::-moz-selection {
  background-color: $color1;
  text-shadow: none;
}
::selection {
  background-color: $color1;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #faf7ee;
}

::-webkit-scrollbar-thumb {
  background: #e1d2c1;
  border-radius: 15px;
}

@supports (padding: env(safe-area-inset-top)) {
  body {
    font-size: 1.6rem;
  }
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: visible;
  @media screen and (min-width: 992px) {
    overflow: hidden;
  }
}

.slide-in {
  position: fixed;
  min-height: -webkit-fill-available;
  height: calc(100% + env(safe-area-inset-top));
  inset: 0;
  background-color: $background;
  width: 100%;
  transform-origin: bottom;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg {
    height: 80px;
    width: auto;
  }
}

.slide-out {
  position: fixed;
  min-height: -webkit-fill-available;
  height: calc(100% + env(safe-area-inset-top));
  inset: 0;
  background-color: $background;
  width: 100%;
  transform-origin: top;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  & svg {
    height: 80px;
    width: auto;
  }
}
