::-moz-selection {
  background-color: #b8b8b8;
  text-shadow: none;
}
::selection {
  background-color: #b8b8b8;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #faf7ee;
}

::-webkit-scrollbar-thumb {
  background: #e1d2c1;
  border-radius: 15px;
}

@supports (padding: env(safe-area-inset-top)) {
  body {
    font-size: 1.6rem;
    background-color: rgb(154, 154, 154);
  }
}

html {
  font-size: 62.5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media screen and (max-width: 1400px) {
    font-size: 58%;
  }
  @media screen and (max-width: 1224px) {
    font-size: 52%;
  }
  @media screen and (max-width: 992px) {
    font-size: 46%;
  }
  @media screen and (max-width: 768px) {
    font-size: 40%;
  }
  @media screen and (max-width: 576px) {
    font-size: 34%;
  }
  @media screen and (max-width: 321px) {
    font-size: 28%;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
