@font-face {
  font-family: "Tusker Grotesk";
  src: url(../../public/TuskerGrotesk/TuskerGrotesk-4800Super.woff2);
}

@font-face {
  font-family: "Univers93";
  src: url(../../public/Univers/Univers93Regular.woff2);
}