.header {
  &__logo {
    position: fixed;
    inset: 0 0 auto;
    z-index: 40;
    width: fit-content;
    padding: 12px $minGap 0;
    @media screen and (min-width: 576px) {
      padding: 16px $minGap 0;
    }
    @media screen and (min-width: 992px) {
      padding: 20px $minGap 0;
    }
    & g {
      transition: opacity 0.3s;
      opacity: 0;
      &.header__logo--black {
        opacity: 1;
      }
      &.header__logo--white {
        opacity: 1;
      }
    }
  }
  &__btn {
    position: fixed;
    inset: 0 0 auto auto;
    z-index: 40;
    width: fit-content;
    min-height: 61px;
    @include fja_center;
    cursor: pointer;
    padding: 12px $minGap 0;
    @media screen and (min-width: 576px) {
      padding: 16px $minGap 0;
    }
    @media screen and (min-width: 992px) {
      padding: 20px $minGap;
    }
  }
  & span {
    color: $white;
    transition: color 0.3s;
    position: relative;
    z-index: 44;
  }
  &--black {
    & .header__logo g.header__logo--white {
      opacity: 0;
    }
    & p {
      color: $titleColor;
    }
  }
}
