header {
  position: fixed;
  inset: 0 0 auto;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  z-index: 20;
  padding: 12px $minGap;
  @media screen and (min-width: 576px) {
    padding: 16px $minGap;
  }
  @media screen and (min-width: 992px) {
    padding: 20px $minGap;
  }
}
