.header {
  &__logo {
    position: fixed;
    inset: 0 0 auto;
    z-index: 100;
    width: fit-content;
    inset: 12px auto auto $minGap;
    @media screen and (min-width: 576px) {
      inset: 16px auto auto $minGap;
    }
    @media screen and (min-width: 992px) {
      inset: 20px auto auto $minGap;
    }
    & g {
      transition: opacity 0.5s;
      opacity: 0;
      &.header__logo--black {
        opacity: 1;
      }
      &.header__logo--white {
        opacity: 1;
      }
    }
  }
  &__btn {
    $size: 44px;
    position: fixed;
    z-index: 100;
    height: $size;
    width: $size;
    @include fja_center;
    inset: 12px $minGap auto auto;
    @media screen and (min-width: 576px) {
      inset: 16px $minGap auto auto;
    }
    @media screen and (min-width: 992px) {
      inset: 20px $minGap auto auto;
    }
    &__button {
      position: relative;
      transition: color 0.3s;
      font-size: 20px;
      height: max-content;
      $size: 80%;
      width: $size;
      height: $size;
      background: none;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      @media screen and (min-width: 992px) {
        &:hover {
          transform: scale(0.85) rotate(calc(90deg * 2));
        }
      }

      &--active {
        transform: rotate(calc(45deg * 5));
        @media screen and (min-width: 992px) {
          &:hover {
            transform: scale(0.85) rotate(calc(45deg * 1));
          }
        }
      }
    }
    &__line {
      $size: calc(50% - (1px * 4));
      $thickness: 3px;
      position: absolute;
      height: $thickness;
      background-color: $white;
      transition: background-color 0.3s;
      &--1 {
        height: $size;
        width: $thickness;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
      }
      &--2 {
        width: $size;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &--3 {
        width: $size;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      &--4 {
        height: $size;
        width: $thickness;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &--black {
      & .header__btn__line {
        background-color: $titleColor;
      }
    }
  }
  &--black {
    & .header__logo g.header__logo--white {
      opacity: 0;
    }
    & p {
      color: $titleColor;
    }
  }
}
