.loader {
  height: calc(100% + env(safe-area-inset-top));
  min-height: -webkit-fill-available;
  width: 100%;
  background-color: #dbd8d8;
  position: fixed;
  inset: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    inset: 0;
    background-color: #29241f;
    z-index: 1;
    transform-origin: top;
  }
}
