.menu {
  position: fixed;
  inset: 0;
  height: calc(100% + env(safe-area-inset-top));
  min-height: -webkit-fill-available;
  width: 100%;
  z-index: 39;
  background-color: $color1;
  &__container {
    @include full_hw;
    @include fja_center;
  }
  &__list {
    position: relative;
    @include full_hw;
    @include fja_center;
    flex-direction: column;
    padding: 0 $minGap;
    max-width: 1400px;
    @media screen and (min-width: 992px) {
      row-gap: min(2vw, $space14);
    }
  }
  &__item {
    width: 100%;

    @media screen and (min-width: 992px) {
      &:nth-child(2) &__row,
      &:nth-child(4) &__row {
        flex-direction: row-reverse;
      }
    }
    &__row {
      display: flex;
      align-items: center;
      @include full_hw;
      flex-direction: column;
      overflow: hidden;
      @media screen and (min-width: 992px) {
        flex-direction: row;
        column-gap: $columnSpace;
      }
      & img {
        height: auto;
        width: auto;
      }
      &:hover {
        .menu__item__link {
          color: $titleColor;
        }
        .menu__item__image {
          &::after {
            opacity: 1;
          }
        }
      }
    }
    &__link {
      font-family: $univers93;
      text-transform: uppercase;
      font-size: $titleFontSize;
      color: transparent;
      transition: color 0.3s ease;
      -webkit-text-stroke: 2px $titleColor;
      cursor: pointer;
      @media screen and (min-width: 768px) {
        font-size: min(8vw, 106px);
      }
    }
    &__img {
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
      }
    }
    &--active {
      .menu__item__link {
        color: $titleColor;
      }
    }
    &__image {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--image);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }
  }
  &__quote {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-family: $manrope;
    color: $titleColor;
    text-transform: uppercase;
    font-size: clamp(14px, 1.8vw, 20px);
    text-align: center;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      bottom: 15%;
    }
    @media screen and (min-width: 992px) {
      bottom: 10%;
    }
  }
}
