.menu {
  position: fixed;
  inset: 0;
  height: calc(100% + env(safe-area-inset-top));
  min-height: -webkit-fill-available;
  width: 100%;
  z-index: 39;
  background-color: $color1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, clip-path 0.55s ease-in-out;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  &--open {
    opacity: 1;
    visibility: visible;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
  &__container {
    @include full_hw;
    @include fja_center;
  }
  &__list {
    position: relative;
    @include full_hw;
    @include fja_center;
    flex-direction: column;
    padding: 0 $minGap;
    max-width: 1400px;
    @media screen and (min-width: 992px) {
      row-gap: min(2vw, $space14);
    }
  }
  &__item {
    width: 100%;
    &:hover {
      .menu__item__link {
        color: $titleColor;
      }
    }
    @media screen and (min-width: 992px) {
      &:nth-child(2) &__row,
      &:nth-child(4) &__row {
        flex-direction: row-reverse;
      }
    }
    &__row {
      display: flex;
      align-items: center;
      @include full_hw;
      flex-direction: column;
      @media screen and (min-width: 992px) {
        flex-direction: row;
        column-gap: $columnSpace;
      }
      & img {
        height: auto;
        width: auto;
      }
    }
    &__link {
      font-family: $univers93;
      text-transform: uppercase;
      font-size: $titleFontSize;
      color: transparent;
      transition: color 0.3s;
      -webkit-text-stroke: 2px $titleColor;
      cursor: pointer;
      @media screen and (min-width: 768px) {
        font-size: min(8vw, 106px);
      }
    }
    &__img {
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
      }
    }
    &--active {
      .menu__item__link {
        color: $titleColor;
      }
    }
  }
  & p {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-family: $manrope;
    color: $titleColor;
    text-transform: uppercase;
    font-size: clamp(14px, 1.8vw, 20px);
    text-align: center;
    @media screen and (min-width: 768px) {
      bottom: 15%;
    }
    @media screen and (min-width: 992px) {
      bottom: 10%;
    }
  }
}
