.section--columns {
  width: 100%;
  height: 80vw;
  inset: 0;
  overflow: hidden;
  margin-bottom: 200vh;
}

.columns {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2.5vw;
  height: 100%;
  will-change: transform, opacity;
  align-items: center;
  display: flex;
  position: relative;
}

.column-wrap {
  z-index: 1;
  will-change: transform;
  flex-direction: column;
//   padding: 5vh 0 15vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.column {
  will-change: transform;
  display: block;
  position: relative;
}

.column__item {
  width: 32vw;
  height: calc(32vw * 1.3);
  cursor: pointer;
  margin: 0 0 2.5vw 0;
  z-index: 1;
  will-change: transform, filter;
  position: relative;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
