.gallery {
  width: 100%;
  height: 80vw;
  inset: 0;
  overflow: hidden;
  margin: $space88 0;
  @media screen and (min-width: 992px) {
    margin: $space144 0;
  }
  &__columns {
    @include full_hw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    column-gap: $columnSpace;
    will-change: transform;
    position: relative;
    @media screen and (min-width: 1224px) {
      column-gap: $columnSpace1224;
    }
  }
  &__wrap {
    z-index: 1;
    will-change: transform;
    flex-direction: column;
    display: flex;
    position: relative;
    overflow: hidden;
    &__column {
      will-change: transform;
      display: block;
      position: relative;
    }
  }
  &__item {
    width: 32vw;
    height: calc(32vw * 1.3);
    margin: 0 0 $columnSpace 0;
    z-index: 1;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 1224px) {
      margin: 0 0 $columnSpace1224 0;
    }
    & img {
      @include full_hw;
      object-fit: cover;
    }
  }
}
