.products {
  @include fja_center;
  &__content {
    min-height: 20vh;
    @include full_hw;
    @include fja_center;
    flex-direction: column;
    padding: $MblPadding $minGap;
    @media screen and (min-width: 992px) {
      padding: $DskPadding $minGap;
      row-gap: $DskPadding;
    }
  }
  &__item {
    @include full_hw;
    @include fja_center;
    flex-direction: column;
    &__content {
      @include full_hw;
      padding: 26px;
      background-color: $placeholderColor;
    }
    &__image {
      min-height: 60vw;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @media screen and (min-width: 576px) {
        min-height: 20vw;
      }
    }
    &__details {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.8vw 0;
      & h3 {
        color: #767676;
        font-size: min(1.3vw, 20px);
        font-family: $manrope;
        font-weight: 800;
        text-transform: uppercase;
      }
      & svg {
        width: 1.5vw;
        height: 1.5vw;
      }
    }
  }
  &__list {
    @include fja_center;
    flex-direction: row;
    column-gap: 1.5vw;
    width: 100%;
    // flex-wrap: wrap;
  }
}
