$tuskerGrotesk: "Tusker Grotesk";
$manrope: "Manrope", sans-serif;
$minGap: min(6.6vw, 62px);
$color1: #dbd8d8;
$white: #ffffff;
$background: #29241f;
$titleColor: #3c3c3c;
$textColor: #767676;
$placeholderColor: #b8b8b820;
$landingBgImage: url("../../../public/images/landing/l_02.webp");
$titleFontSize: min(10vw, 88px);
$paragraphFontSize: clamp(16px, 1.8vw, 20px);
$wParagraphSize: clamp(16px, 1.8vw, 20px);

$space26: 26px;
$space44: 44px;
$space88: 88px;
$space144: 144px;

$columnSpace: 3vw;
$columnSpace1224: 3.5vw;


$sliderItemHeight: 60vh;
$sliderItemGap: 7vh;

$showcaseAreas: (
  1: "2 / 2",
  2: "2 / 6",
  3: "4 / 6",
  4: "4 / 9",
  5: "1 / 1",
  6: "3 / 1",
  7: "3 / 4",
  8: "1 / 4",
  9: "1 / 7",
  10: "3 / 8",
  11: "1 / 9",
//   12: "4 / 3",
);

