.showcase {
  position: relative;
  display: grid;
  grid-template-areas: "showcase";
  width: 100%;
  height: 100vh;
  &__grid {
    grid-area: showcase;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2vw 2vw 4rem;
    @media screen and (min-width: 992px) {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(9, 1fr);
    }
  }
  &__slider {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc($sliderItemHeight + $sliderItemGap);
    gap: $sliderItemGap;
    padding: 0;
    align-self: center;
    position: relative;
    z-index: 40;
    .showcase__images {
      height: $sliderItemHeight;
      aspect-ratio: 0.75;
      flex: none;
    }
  }
  &__images {
    cursor: pointer;
    transition: filter 0.35s ease-in-out;
    &__background {
      @include full_hw;
      background-position: 50% 20%;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      filter: brightness(105%);
    }
    @media screen and (min-width: 992px) {
      @each $index, $area in $showcaseAreas {
        &:nth-child(#{$index}) {
          grid-area: #{$area};
        }
      }
    }
  }
  &__title {
    opacity: 0;
    grid-area: showcase;
    align-self: center;
    justify-self: center;
    position: relative;
    z-index: 50;
    overflow: hidden;
    & h3 {
      font-size: clamp(44px, 6vw, 116px);
      @include title_properties;
    }
    &__link {
      position: relative;
      z-index: 60;
      pointer-events: none;
    }
  }
  &__controls {
    $size: 44px;
    height: $size;
    width: $size;
    position: fixed;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: background-color 1s ease-in-out;
    inset: 12px $minGap auto auto;
    @media screen and (min-width: 576px) {
      inset: 16px $minGap auto auto;
    }
    @media screen and (min-width: 992px) {
      inset: 20px $minGap auto auto;
    }
    &--open {
      pointer-events: auto;
      background-color: $white;
    }
    &__close {
      border: 1px solid $titleColor;
      display: grid;
      place-items: center;
      border-radius: 50%;
      opacity: 0;
      cursor: pointer;
    }
    & button {
      $size: 35px;
      height: $size;
      width: $size;
      background: none;
    }
  }
}
